In [16]:
import os 
import pandas as pd

input_folder = 'E:/UNHCR/temp/' 
#'E:\OneDrive - UNHCR/00 SharePoint Sites/Documents - Greening and Sustainability Team/Green Energy Team/3. Analysis/1. Load Imbalance Analysis/2. Source/TEMP/'

print(input_folder)
input_files = os.listdir(input_folder)



df_master = pd.DataFrame()

for i in input_files:
    print(i)
    df_temp = pd.read_excel(input_folder + i)
    df_master = pd.concat([df_master, df_temp])
    print(f"{i} has finished")

df_master

E:/UNHCR/temp/
00980A02.xlsx
00980A02.xlsx has finished
00980A1E.xlsx
00980A1E.xlsx has finished
00980A1F.xlsx
00980A1F.xlsx has finished
00980A2A.xlsx
00980A2A.xlsx has finished
00980A2B.xlsx
00980A2B.xlsx has finished
00980A2C.xlsx
00980A2C.xlsx has finished

,Unnamed: 0,DeviceSerial,LastCommSecUtc,Timestamp,Wh,Year,Month,Week,Day,Time UTC,mean_wh,median_wh,Imputed mean,Imputed median
0,0,00980A02,1.667211e+09,1642723200,0,2022,Jan,3,Friday,00:00,659.233333,364.0,659.233333,364.0
1,1,00980A02,1.667211e+09,1643328000,317,2022,Jan,4,Friday,00:00,659.233333,364.0,317.000000,317.0
2,2,00980A02,1.667211e+09,1643932800,304,2022,Feb,5,Friday,00:00,659.233333,364.0,304.000000,304.0
3,3,00980A02,1.667211e+09,1644537600,252,2022,Feb,6,Friday,00:00,659.233333,364.0,252.000000,252.0
4,4,00980A02,1.667211e+09,1645142400,324,2022,Feb,7,Friday,00:00,659.233333,364.0,324.000000,324.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73435,73435,00980A2C,NaN,1610408700,0,2021,Jan,2,Monday,23:45,949.400000,944.0,949.400000,944.0
73436,73436,00980A2C,NaN,1606779900,0,2020,Nov,48,Monday,23:45,949.400000,944.0,949.400000,944.0
73437,73437,00980A2C,NaN,1669679100,0,2022,Nov,48,Monday,23:45,949.400000,944.0,949.400000,944.0
73438,73438,00980A2C,NaN,1666050300,0,2022,Oct,42,Monday,23:45,949.400000,944.0,949.400000,944.0
73439,73439,00980A2C,NaN,1614642300,0,2021,Mar,9,Monday,23:45,949.400000,944.0,949.400000,944.0

In [15]:
# Load the consolidated dataframe to Postgres
from sqlalchemy import create_engine

engine = create_engine('postgresql://unhcr:unhcr@localhost:5432/unhcr')
print('Connection string created')

df_master.to_sql('file_consolidation_example', engine, if_exists = 'replace')
print('Data loaded to postgres')

Connection string created
Data loaded to postgres